<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iCasual</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Enior Apparel</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <div class="icon"></div>
            <h1>Enior Apparel</h1>
            <ul>
                <li><a href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><a href="{{ url_for('create_order') }}"><i class="fas fa-box"></i> Manage Orders</a></li>
                <li><a href="{{ url_for('delivered_order') }}"><i class="fas fa-box"></i> Delivered Orders</a></li>
                <li><a href="{{ url_for('ready_order') }}"><i class="fas fa-box"></i> Ready-made</a></li>
                <li><a href="{{ url_for('items') }}"><i class="fas fa-warehouse"></i> Items & Inventory</a></li>
                <li><a href="{{ url_for('view_customer') }}"><i class="fas fa-users"></i> Customers</a></li>
                <li><a href="{{ url_for('view_expenses') }}"><i class="fas fa-receipt"></i> Expenses</a></li>
                <li><a href="{{ url_for('reports') }}"><i class="fas fa-chart-line"></i> Reports</a></li>

            </ul>
        </nav>
        <div class="main-content">
            <div class="order-form-container">
                <div class="order-form-header">
                    <h2>Add Incurred Record</h2>
                    <button class="close-button">&times;</button>
                </div>
                <form method="POST" class="order-form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.inc_item.label }}
                        {{ form.inc_item(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.inc_price.label }}
                        {{ form.inc_price(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.inc_vol.label }}
                        {{ form.inc_vol(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.amount_made.label }}
                        {{ form.amount_made(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.vol_sold.label }}
                        {{ form.vol_sold(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.date_sold.label }}
                        {{ form.date_sold(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="form-button") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.close-button').addEventListener('click', function() {
            window.history.back();
        });
    </script>
</body>
</html>
