<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Enior Apparel</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <div class="icon"></div>
            <h1>Enior Apparel</h1>
            <ul>
                <li><a href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><a href="{{ url_for('create_order') }}"><i class="fas fa-box"></i> Manage Orders</a></li>
                <li><a href="{{ url_for('delivered_order') }}"><i class="fas fa-box"></i> Delivered Orders</a></li>
                <li><a href="{{ url_for('ready_order') }}"><i class="fas fa-box"></i> Ready-made</a></li>
                <li><a href="{{ url_for('items') }}"><i class="fas fa-warehouse"></i> Items & Inventory</a></li>
                <li><a href="{{ url_for('view_customer') }}"><i class="fas fa-users"></i> Customers</a></li>
                <li><a href="{{ url_for('view_expenses') }}"><i class="fas fa-receipt"></i> Expenses</a></li>
                <li><a href="{{ url_for('reports') }}"><i class="fas fa-chart-line"></i> Reports</a></li>

            </ul>
        </nav>
        <div class="main-content">
            <div class="customer-list">
                <h3>Measurement for {{ customer.name }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Bust</th>
                            <th>Chest</th>
                            <th>Waist</th>
                            <th>Hips</th>
                            <th>Thigh</th>
                            <th>Neck</th>
                            <th>Sleeve</th>
                            <th>Inseam</th>
                            <th>Date created</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ measurement.bust }}
                            <td>{{ measurement.chest }}</td>
                            <td>{{ measurement.waist }}</td>
                            <td>{{ measurement.hips }}</td>
                            <td>{{ measurement.thigh }}</td>
                            <td>{{ measurement.neck }}</td>
                            <td>{{ measurement.sleeve }}</td>
                            <td>{{ measurement.inseam }}</td>
                            <td>{{ measurement.created_at }}</td>
                            <td>
                                <a href="/edit_measurement/{{measurement.id}}">Edit</a>
                            </td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
